:root{
    --main-color: #0a153e;
    --seco-color: #212d52;
    --contr-color: #6c33fb ;
    --box-color: #0b5ed7;
}

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
/* header styles */

body {
    color: #fff;
    background-color: var(--main-color);
}
.hero {
color: #fff;
text-align: center;
padding: 5% 5%;
}

.title {
background-color: var(--seco-color);
padding: 4% 4%;
border-radius: 12px;

}

/* Left Column Styles, Search for a City */

.col-sm-4{
    padding: 3% 2% 5% 2%;
    background-color: var(--seco-color);
    display: block;
    border: 8px solid var(--main-color);
    border-radius: 32px;
}

.btn-primary{
text-align: left;
border-color: var(--contr-color);
background-color: var(--contr-color);
}

.btn-outline-secondary{
    background-color: var(--contr-color);
}

/* Rigt Column Styles, Specific City */
.col-sm-8{
    display: block;
    background-color: var(--seco-color);
    padding: 3% 2% 5% 2%;
    border-radius: 32px;
    border: 8px solid var(--main-color);
    
}

#uvIndex{
    background-color: var(--contr-color);
    padding: 0.4%;
}
/* Week Forecast Tables */

.col{
    text-align:center;
    background-color: var(--box-color);
    border-left:  6px solid var(--seco-color);
    border-right:  6px solid var(--seco-color);
    padding-top: 10px;
    border-radius: 12px;
}